:root {
  /* Шрифты */
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;

  /* Веса шрифтов */
  --text-weight: 410;
  --title-weight: 715;
  --max-weight: 715;

  /* Градиенты */
  --bg-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

  /* Размеры */
  --content-width: min(100%, 700px);
  --mobile-width: min(100%, 375px);

  /* Отступы */
  --section-padding: clamp(14px, 3.7vw, 122.5px);
  --element-padding: clamp(10px, 3vw, 20px);
  --content-padding: 25px;

  /* Высоты по макету */
  --header-padding-vertical: clamp(120px, 25vw, 164px);

  /* Типографика */
  --title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --text-size: 18px;
  --text-line-height: 21px;

  /* Цвета */
  --text-color: #000;
  --bg-color: #fff;
  --border-color: #000;

  /* Цвет обводки для лейбла */
  --label-stroke-color: #fff;

  /* Цвета для анимации сердца */
  --contour-color: #000;
  --animation-fill-color: #f00;
}
